#wrapper {
    width: 420px;
    margin: 50px auto;
  }
  
  #theMarquee {
    height: 55px;
    background: linear-gradient(0deg, #111, #222);
    box-shadow: 
      0px 0px 2px 0px #aaa inset,
      0px -1px 2px 0px #aaa inset,
      2px -5px 5px 0px #111 inset,
      0px -5px 5px 0px #111 inset,
      2px 5px 5px 0px #111;
    border-radius: 5px;
  }
  
  .light {
    width: 5px;
    height: 5px;
    margin: 1px;
    float: left;
    border-radius: 50%;
  }
  
  .off {
    background-color: #121212;
  }
  
  .on {
    background-color: #0ff;
    box-shadow: 0px 0px 5px #0ff;
  }
  